# Compiled Object files
*.slo
*.lo
*.o
*tags
*.out

# Compiled Dynamic libraries

*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# temp files
scannerbase.h parserbase.h scanner.cc parser.cc parser.yy.output
*.output 
*.cfg
cfglp
*.swp
*.toks
*.ecfg

test_files/
